<a href="https://colab.research.google.com/github/rubenesticesi/ExtraccionData/blob/main/Taller_Consultas_en_el_mundo_analitico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<font color="red">*Para iniciar, cree su propia copia de este notebook. File> Save a Copy in Drive*</font>


---
<font color="green">
Ten en cuenta los siguientes pasos:
1.    

1.   Ve al menú "Archivo" en la esquina superior izquierda de la interfaz de Colab.
2.   Selecciona la opción "Guardar una copia en Drive" del menú desplegable. Esto creará una copia del cuaderno en tu propia cuenta de Google Drive.
3. Google Colab abrirá automáticamente la nueva copia del cuaderno, y verás que ahora está ubicado en tu Google Drive en la carpeta "Colab Notebooks".
4. Puedes editar y ejecutar esta copia del cuaderno como desees, y todos los cambios que hagas se guardarán en tu propia cuenta de Google Drive.

</font>

## 1.1 Objetivo
El objetivo de este taller es realizar distintas operaciones con el fin de practicar consultas sobre un modelo OLAP

##Instrucciones:
1. Lea cuidadosamente la explicación.
2. Para ejecutar el código en una celda, puede hacer clic en el botón "Ejecutar" junto a la celda o simplemente presionar "Shift + Enter" en su teclado.

## 1.2 Conexion a la base de datos

#### Para utilizar google colab, se usara python y la libreria psycopg2, que le permite a python conectarse a una base de datos e intarctuar con ella.

#### Cabe aclarar que debido a que nos estamos conectando a una base de datos desde colab, la conexion se puede cerrar o puede que los comando SQL no se ejecuten, por lo que si ese es el caso, simplemente vuelva a ejecutar esta celda para hacer un reset de la conexión.

In [3]:
import psycopg2

# Esta linea esta encargada de crear la conexion con la BD
conn = psycopg2.connect("postgresql://postgres.ainowoxdjvcbkyzliuzk:yqsMh1VUklIWZ7Bo@aws-1-us-east-2.pooler.supabase.com:5432/postgres")

# crea un cursor para poder ejecutar las consultas SQL
cur = conn.cursor()

# Luego le pedimos al cursor que ejecute una consulta en particular
cur.execute("SELECT * FROM FactProductSales LIMIT 5;")

#Obtenemos todas las filas que la BD de devolvio a nuestro programa
rows = cur.fetchall()

#Estas lineas de abajo se encargan de imprimir la informacion

# Print column names
column_names = [desc[0] for desc in cur.description]
print(" | ".join(column_names))  # Print header

# Print rows
for row in rows:
    print(" | ".join(map(str, row)))

transactionid | salesinvoicenumber | storeid | customerid | productid | salespersonid | quantity | salestotalcost | productactualcost | salesdatekey | deviation
1 | 127039 | 47 | 78 | 54 | 78 | 45.0 | 3.99 | 3.99 | 20241118 | 40.0
2 | 895700 | 52 | 73 | 66 | 88 | 42.0 | 1.99 | 1.99 | 20230610 | 40.0
3 | 274915 | 51 | 4 | 30 | 34 | 96.0 | 49.99 | 49.99 | 20240616 | 21.0
4 | 424069 | 33 | 22 | 85 | 52 | 95.0 | 29.99 | 29.99 | 20230524 | 45.0
5 | 951910 | 90 | 15 | 29 | 73 | 22.0 | 2.49 | 2.49 | 20230218 | 15.0

### Cada vez que quiera realizar una consulta, debe utilizar la siguiente estructura

In [4]:
# Aqui escribe el SQL
cur.execute("SELECT * FROM FactProductSales LIMIT 5;")

rows = cur.fetchall()

# Print column names
column_names = [desc[0] for desc in cur.description]
print(" | ".join(column_names))  # Print header

# Print rows
for row in rows:
    print(" | ".join(map(str, row)))

transactionid | salesinvoicenumber | storeid | customerid | productid | salespersonid | quantity | salestotalcost | productactualcost | salesdatekey | deviation
1 | 127039 | 47 | 78 | 54 | 78 | 45.0 | 3.99 | 3.99 | 20241118 | 40.0
2 | 895700 | 52 | 73 | 66 | 88 | 42.0 | 1.99 | 1.99 | 20230610 | 40.0
3 | 274915 | 51 | 4 | 30 | 34 | 96.0 | 49.99 | 49.99 | 20240616 | 21.0
4 | 424069 | 33 | 22 | 85 | 52 | 95.0 | 29.99 | 29.99 | 20230524 | 45.0
5 | 951910 | 90 | 15 | 29 | 73 | 22.0 | 2.49 | 2.49 | 20230218 | 15.0

## 1.4 Modelo de datos utilizado en el taller

Para el siguiente taller se trabajará sobre el siguiente modelo.  Recuerde es importante poder entender e interpretar el modelo antes de iniciar a realizar consultas.
Intenta responder las siguientes preguntas:


* ¿Cuál es la diferencia entre las tablas de hechos y las tablas de dimensiones en este modelo?

* ¿Qué representa la tabla FACTPRODUCTSALES y por qué contiene claves foráneas de varias dimensiones?

* ¿Cómo se relaciona la tabla DIMCUSTOMER con la tabla FACTPRODUCTSALES y qué información almacena?

* ¿Por qué la tabla DIMDATE contiene múltiples columnas con diferentes formatos de fecha?

* ¿Cómo podríamos identificar el producto más costoso utilizando este modelo?
Si queremos analizar las ventas por trimestre, ¿qué tabla nos proporcionaría esa información?

<img src = 'https://drive.google.com/file/d/1EyCV1ZZmvLjKdmLi0FgGkwoRPToBlzvm' width = 800>![olap_modelo.png]()

## 2. Consultas a realizar sobre el modelo

## Consulta 1

Consulta a realizar: Obtener la venta total (SalesTotalCost) por cada tienda.

In [7]:
import psycopg2

# Esta linea esta encargada de crear la conexion con la BD
conn = psycopg2.connect("postgresql://postgres.ainowoxdjvcbkyzliuzk:yqsMh1VUklIWZ7Bo@aws-1-us-east-2.pooler.supabase.com:5432/postgres")

# crea un cursor para poder ejecutar las consultas SQL
cur = conn.cursor()


# Aqui escribe el SQL
cur.execute("""SELECT
    s.StoreName,
    SUM(f.SalesTotalCost) AS Ventas_Totales
FROM FactProductSales f
INNER JOIN DimStores s
    ON f.StoreID = s.StoreID
GROUP BY s.StoreName
ORDER BY Ventas_Totales DESC; """)

rows = cur.fetchall()

# Print column names
column_names = [desc[0] for desc in cur.description]
print(" | ".join(column_names))  # Print header

# Print rows
for row in rows:
    print(" | ".join(map(str, row)))

storename | ventas_totales
Green Grocer | 369.96
Urban Market | 278.45
Budget Bazaar | 211.46
Daily Needs Depot | 156.23
City Center Mart | 138.26
Express Essentials | 133.46
MegaMart | 117.84
Super Saver Store | 117.45
Local Legend Market | 112.44
Smart Shopper | 96.32
ValueCity Market | 88.46
Gourmet Galore | 72.65
Fresh Foods Store | 68.05
Quick Stop Shop | 56.04
Family Market | 52.92
Elite Emporium | 38.84
Corner Mart | 29.05
Neighborhood Goods | 23.78
Shop-N-Go | 6.38
Economy Outlet | 5.58

## Consulta 2

Obtener la cantidad de artículos comprada por cada cliente.

In [9]:
conn.rollback()  # Esto limpia el error y permite ejecutar nuevas consultas.

# Aqui escribe el SQL
cur.execute(""" SELECT
    c.CustomerName,
    SUM(f.Quantity) AS Total_Articulos
FROM FactProductSales f
INNER JOIN DimCustomer c
    ON f.CustomerID = c.CustomerID
GROUP BY c.CustomerName
ORDER BY Total_Articulos DESC;
""")

rows = cur.fetchall()

# Print column names
column_names = [desc[0] for desc in cur.description]
print(" | ".join(column_names))  # Print header

# Print rows
for row in rows:
    print(" | ".join(map(str, row)))

customername | total_articulos
Wayland Minchindon | 99.0
Brannon Hamshaw | 98.0
Carmencita Haselhurst | 98.0
Son McKerron | 98.0
Priscella Yanyushkin | 96.0
Demetri Medway | 96.0
Dewey Blainey | 96.0
Hanna Nend | 96.0
Irene Lindenfeld | 96.0
Feodora Daniellot | 95.0
Leona Aves | 94.0
Editha Knell | 92.0
Cathee Kellog | 91.0
Leonelle Diben | 90.0
Chicky Teek | 90.0
Bendite Brockway | 89.0
Andrei Nestle | 87.0
Davey Benezet | 87.0
Demeter Turrell | 86.0
Andree Cuniffe | 84.0
Tersina Tromans | 83.0
Cynthia Siviour | 82.0
Evie Korneichuk | 79.0
Chaddy Over | 78.0
Ebonee Laurant | 75.0
Horst Dobie | 74.0
Iorgo Chamberlen | 74.0
Brian Gooding | 73.0
Jacinda Riche | 73.0
Selinda Weiss | 72.0
Lissa Pendleton | 72.0
Renie Rickaert | 71.0
Roselin Beaford | 69.0
Rem Ninnotti | 67.0
Quill Fritche | 66.0
Veriee Shoutt | 66.0
Isabella Landes | 66.0
Sonja Gonzales | 60.0
Emalee Breawood | 59.0
Cyrus Reoch | 58.0
Kay Toby | 58.0
Thacher Galletly | 58.0
Emmalee Crebo | 57.0
Donni Baddam | 55.0
Beilul Leving | 54.0
Isador Pomphrey | 51.0
Susana Tommasetti | 50.0
Daffi Soule | 50.0
Theodosia Jados | 49.0
Freddy Unger | 48.0
Willamina Daye | 45.0
Lebbie Hyndson | 44.0
Aggy Skevington | 44.0
Tannie Rickertsen | 43.0
Charlie Oxer | 43.0
Davis Mulran | 43.0
Jerome Pernell | 42.0
Lenore Fluin | 42.0
Binky Sabates | 42.0
George Doxey | 40.0
Idell Frissell | 39.0
Brett Lyon | 38.0
Donall Spybey | 37.0
Gladys Muirhead | 36.0
Josh Haxell | 35.0
Avrit Rohlfing | 35.0
Jacobo Cattrell | 34.0
Shawnee Dashwood | 32.0
Abbe Downe | 31.0
Nico Rhodes | 31.0
Clifford Douty | 29.0
Dana McMakin | 26.0
Gannie Orbon | 26.0
Lorenzo Mattioli | 25.0
Rozalie Stefanovic | 24.0
Jessica Kendal | 23.0
Nathalie Villa | 22.0
Logan Southworth | 22.0
Esther Cheng | 22.0
Row Crackett | 21.0
Catharine Lindeberg | 21.0
Tandy Kavanagh | 19.0
Nixie Ennion | 19.0
Demeter Chevis | 19.0
Hew Chesterfield | 18.0
Nedi Ricards | 18.0
Ninnetta Barrus | 18.0
Sanford Priestman | 17.0
Gayle O'Feeney | 16.0
Thomasine Vasilischev | 12.0
Chrissy Mattam | 11.0
Merci Downham | 10.0
Carce Malletratt | 10.0
Gavan Springell | 9.0
Fabian Coles | 9.0
Heath Wallage | 9.0
Barnabe Stratton | 8.0
Missy Guilder | 6.0
Hershel Kaveney | 6.0
Bea Grigore | 3.0

## Consulta 3

Top 5 clientes que más han gastado (por SalesTotalCost).

In [13]:
conn.rollback()  # Esto limpia el error y permite ejecutar nuevas consultas.


# Aqui escribe el SQL
cur.execute("""SELECT
    c.CustomerName,
    SUM(f.ProductSalesCost) AS Total_Gastado
FROM FactProductSales f
INNER JOIN DimCustomer c
    ON f.CustomerID = c.CustomerID
GROUP BY c.CustomerName
ORDER BY Total_Gastado DESC
LIMIT 5;


""")

rows = cur.fetchall()

# Print column names
column_names = [desc[0] for desc in cur.description]
print(" | ".join(column_names))  # Print header

# Print rows
for row in rows:
    print(" | ".join(map(str, row)))

customername | total_gastado
Kay Toby | 299.99
Chicky Teek | 199.99
Row Crackett | 99.99
Isabella Landes | 99.99
Daffi Soule | 89.99

##Consulta 4

Cantidad de productos vendidos (SUM de Quantity) por vendedor (SalesPersonName). (100 filas)

In [15]:
conn.rollback()  # Esto limpia el error y permite ejecutar nuevas consultas.


# Aqui escribe el SQL
cur.execute("""SELECT
    sp.SalesPersonName,
    SUM(f.quantity) AS Total_Productos_Vendidos
FROM FactProductSales f
INNER JOIN DimSalesPerson sp
    ON f.SalesPersonID = sp.SalesPersonID
GROUP BY sp.SalesPersonName
ORDER BY Total_Productos_Vendidos DESC
LIMIT 100;


""")

rows = cur.fetchall()

# Print column names
column_names = [desc[0] for desc in cur.description]
print(" | ".join(column_names))  # Print header

# Print rows
for row in rows:
    print(" | ".join(map(str, row)))

salespersonname | total_productos_vendidos
Noelyn Beveredge | 99.0
Petronella Farncombe | 98.0
Renaldo Brogini | 98.0
Corliss Adame | 98.0
Che Lerer | 96.0
Winthrop Paulazzi | 96.0
Jackelyn Timmens | 96.0
Bank Augie | 96.0
Bonnee Bitten | 96.0
Fanechka Colliss | 95.0
Vidovik Hertwell | 94.0
Massimiliano Pollok | 92.0
Francesco Lembke | 91.0
Dugald Blackden | 90.0
Chery Knipe | 90.0
Trueman Peaker | 89.0
Abel Tickner | 87.0
Sharline Wellan | 87.0
Brianne Huggill | 86.0
Reilly Cubin | 84.0
Myrtice Bowart | 83.0
Dewitt Muffin | 82.0
Concettina Gowlett | 79.0
Wally Dutch | 78.0
Andria Cowoppe | 75.0
Norean Pelchat | 74.0
Iggie Standering | 74.0
Sharity Aysh | 73.0
Dion Instock | 73.0
Vera Minty | 72.0
Benito Methingam | 72.0
Margit Syncke | 71.0
Lari Karet | 69.0
Seumas Dunaway | 67.0
Leoline Lages | 66.0
Ruthy Jouning | 66.0
Casie Conen | 66.0
Paige Aveson | 60.0
Katheryn Skyppe | 59.0
Onfre Bute | 58.0
Lek Stables | 58.0
Karlen Ellor | 58.0
Hagen Hannan | 57.0
Cal McGuinness | 55.0
Kyle Clendening | 54.0
Rosabel Bansal | 51.0
Modestia Feare | 50.0
Magdalen Crawshaw | 50.0
Jemie Crisall | 49.0
Othello Tosh | 48.0
Dom Berr | 45.0
Charlie Hancorn | 44.0
Quincy Focke | 44.0
Cleon Roblett | 43.0
Jenny Richten | 43.0
Gussie Hazard | 43.0
Astrix Broyd | 42.0
Alard Loveitt | 42.0
Delcine MacPharlain | 42.0
Dierdre Lock | 40.0
Veronike Freyne | 39.0
Luise Witheford | 38.0
Sylas Cowherd | 37.0
Huberto Jaffra | 36.0
Thom Hornung | 35.0
Burg Willcott | 35.0
Yvon Budik | 34.0
Gonzalo Leythley | 32.0
Levey Dews | 31.0
Clarence Cuff | 31.0
Laural Aberdalgy | 29.0
Hort Canter | 26.0
Andromache Clapson | 26.0
Neila Sowman | 25.0
Meier Sinnatt | 24.0
Aurore MacWhan | 23.0
Molli Nabarro | 22.0
Dimitri Held | 22.0
Catlee Palatini | 22.0
Gilligan Cota | 21.0
Jacquette Bartolacci | 21.0
Alysa Paradise | 19.0
Marianne Jagson | 19.0
Wilhelmina Smithyman | 19.0
Hew Larraway | 18.0
Brad Gisbey | 18.0
Agnola Betteney | 18.0
Dodie Ahlin | 17.0
Gaby Cesco | 16.0
Sybilla Dewicke | 12.0
Larissa Melby | 11.0
Caril Arnau | 10.0
Garrek Winslet | 10.0
Nolie Tumulty | 9.0
Jaime Beedie | 9.0
Tiff Gilluley | 9.0
Lilia Innocenti | 8.0
Cordell Waggitt | 6.0
Vern Margerison | 6.0
Lynnea Batrick | 3.0

##Consulta 5

Ventas totales por año (usando la dimensión de fecha).

In [17]:
conn.rollback()  # Esto limpia el error y permite ejecutar nuevas consultas.


# Aqui escribe el SQL
cur.execute("""SELECT
    d.year_id AS Año,
    SUM(f.SalesTotalCost) AS Ventas_Totales
FROM FactProductSales f
INNER JOIN DimDate d
    ON f.SalesDateKey = d.DateKey
GROUP BY d.year_id
ORDER BY d.year_id;


""")

rows = cur.fetchall()

# Print column names
column_names = [desc[0] for desc in cur.description]
print(" | ".join(column_names))  # Print header

# Print rows
for row in rows:
    print(" | ".join(map(str, row)))

año | ventas_totales
2023 | 982.67
2024 | 1141.80
2025 | 49.15

## 2.1 Como funciona ROLLUP en SQL?

El operador ROLLUP es una extensión de GROUP BY en SQL que genera subtotales y totales acumulados en consultas agregadas. Se usa comúnmente en modelos OLAP para obtener análisis jerárquicos de datos, permitiendo resumir información sin escribir múltiples consultas.

¿Qué hace ROLLUP?

Si agrupamos por (Año, Mes), ROLLUP generará:

Ventas por Año y Mes

Subtotal de cada Año (sin mes específico)

Total General de todas las ventas

Para mas informacion:

https://www.geeksforgeeks.org/rollup-in-sql-server/

### Ejemplo de ROLLUP

In [22]:
%%sql

SELECT
    dd.year_id AS Anio,
    dd.month_name AS Mes,
    dp.ProductName AS Producto,
    SUM(f.SalesTotalCost) AS TotalVentas
FROM FactProductSales f
JOIN DimDate dd
    ON f.SalesDateKey = dd.DateKey
JOIN DimProduct dp
    ON f.ProductID = dp.ProductKey
GROUP BY ROLLUP (dd.year_id, dd.month_name, dp.ProductName) -- Aqui se utiliza el ROLLUP
ORDER BY dd.year_id, COALESCE(dd.month_name, ''), dp.ProductName;

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [23]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [25]:
import psycopg2

# Esta linea esta encargada de crear la conexion con la BD
conn = psycopg2.connect("postgresql://postgres.ainowoxdjvcbkyzliuzk:yqsMh1VUklIWZ7Bo@aws-1-us-east-2.pooler.supabase.com:5432/postgres")

# crea un cursor para poder ejecutar las consultas SQL
cur = conn.cursor()

# Aqui escribe el SQL
cur.execute("""
SELECT
    dd.year_id AS Anio,
    dd.month_name AS Mes,
    dp.ProductName AS Producto,
    SUM(f.SalesTotalCost) AS TotalVentas
FROM FactProductSales f
JOIN DimDate dd
    ON f.SalesDateKey = dd.DateKey
JOIN DimProduct dp
    ON f.ProductID = dp.ProductKey
GROUP BY ROLLUP (dd.year_id, dd.month_name, dp.ProductName)
ORDER BY dd.year_id, COALESCE(dd.month_name, ''), dp.ProductName;

""")

rows = cur.fetchall()

# Print column names
column_names = [desc[0] for desc in cur.description]
print(" | ".join(column_names))  # Print header

# Print rows
for row in rows:
    print(" | ".join(map(str, row)))

anio | mes | producto | totalventas
2023 | None | None | 982.67
2023 | April     | BBQ Jackfruit | 3.49
2023 | April     | Bike Repair Tool Kit | 99.99
2023 | April     | Camping Chair with Cooler | 4.49
2023 | April     | Chili Con Carne Mix | 1.99
2023 | April     | Nutritional Yeast | 34.99
2023 | April     | None | 144.95
2023 | August    | Coconut Cream | 69.99
2023 | August    | Glass Water Bottle | 12.99
2023 | August    | LED Flashlight | 4.99
2023 | August    | Pet Travel Bowl | 4.99
2023 | August    | Snap-On Tupperware Set | 14.99
2023 | August    | None | 107.95
2023 | December  | Collapsible Pet Dog Bowl | 34.99
2023 | December  | Compact Shoe Rack | 8.99
2023 | December  | Maple Pecan Oatmeal Cookies | 99.99
2023 | December  | Veggie Chips Variety Pack | 12.99
2023 | December  | None | 156.96
2023 | February  | Cinnamon Sugar Tortilla Chips | 4.99
2023 | February  | Electric Butter Churn | 9.99
2023 | February  | Honey Roasted Chickpeas | 39.99
2023 | February  | Outdoor Mosquito Repellent Lantern | 4.89
2023 | February  | Oven-Baked Parmesan Zucchini | 2.49
2023 | February  | None | 62.35
2023 | January   | Thai Peanut Dressing | 5.49
2023 | January   | None | 5.49
2023 | July      | Athletic Jogging Jacket | 29.99
2023 | July      | Electric Air Pump | 2.89
2023 | July      | Graphic Hoodie | 5.99
2023 | July      | Mango Chutney | 24.99
2023 | July      | Turkey Bacon | 5.49
2023 | July      | Wooden Toy Train Set | 32.99
2023 | July      | None | 102.34
2023 | June      | Air Purifier | 4.29
2023 | June      | Collapsible Folding Chair | 1.99
2023 | June      | Honey Almond Granola Bars | 5.99
2023 | June      | Maxi Wrap Dress | 5.49
2023 | June      | Mobile Workbench | 4.89
2023 | June      | Organic Tomato Soup | 19.99
2023 | June      | Pasta (Fusilli) | 3.99
2023 | June      | Portable Charcoal Grill | 19.99
2023 | June      | Smart Wi-Fi Camera | 3.49
2023 | June      | Tropical Fruit Bowl | 34.99
2023 | June      | None | 105.10
2023 | March     | Cotton Pajama Set | 3.49
2023 | March     | Organic Quinoa Salad | 29.99
2023 | March     | None | 33.48
2023 | May       | Coconut Chia Pudding | 3.99
2023 | May       | Nutty Granola Clusters | 29.99
2023 | May       | Portable Laptop Table | 6.99
2023 | May       | Spinach Artichoke Dip | 5.59
2023 | May       | Travel Mug | 29.99
2023 | May       | None | 76.55
2023 | November  | Fitness Jump Rope with LCD Counter | 4.19
2023 | November  | Roasted Red Pepper Sauce | 4.29
2023 | November  | Roasted Sweet Corn | 2.69
2023 | November  | Running Shorts | 39.99
2023 | November  | None | 51.16
2023 | October   | Belted Trench Coat | 79.99
2023 | October   | Cat Tree with Scratching Posts | 2.99
2023 | October   | Electric Hot Water Dispenser | 5.49
2023 | October   | Wall Decals for Kids | 4.59
2023 | October   | None | 93.06
2023 | September | Ginger Snaps | 39.99
2023 | September | Set of Herb Garden Markers | 3.29
2023 | September | None | 43.28
2024 | None | None | 1141.80
2024 | April     | Classic Cheesecake Mix | 29.99
2024 | April     | Quality Chef Apron | 2.49
2024 | April     | Rice Noodles | 18.99
2024 | April     | Travel Eye Mask with Ear Plugs | 3.79
2024 | April     | Waffle Maker | 22.99
2024 | April     | None | 78.25
2024 | August    | Apple Cinnamon Instant Oatmeal | 79.99
2024 | August    | Graphic Print Leggings | 89.99
2024 | August    | Mayonnaise | 14.99
2024 | August    | Pineapple Rings | 79.99
2024 | August    | Traditional Hummus | 3.49
2024 | August    | None | 268.45
2024 | December  | Dried Mango Slices | 299.99
2024 | December  | Juice Extractor | 5.99
2024 | December  | None | 305.98
2024 | February  | Fried Rice | 1.29
2024 | February  | Personalized Cutting Board | 25.00
2024 | February  | Tailored Blazer | 2.29
2024 | February  | None | 28.58
2024 | January   | Almond Crunch Granola Bars | 2.50
2024 | January   | Pet Tracking Collar | 1.99
2024 | January   | Stylish Wide-Leg Trousers | 5.59
2024 | January   | Vegetable Potstickers | 4.99
2024 | January   | None | 15.07
2024 | July      | Apple Sauce | 4.29
2024 | July      | Linen Trousers | 5.49
2024 | July      | Noise Reduction Headphones | 24.99
2024 | July      | Sweet Chili Thai Sauce | 5.99
2024 | July      | None | 40.76
2024 | June      | Herbed Chicken Breast | 2.99
2024 | June      | Teriyaki Chicken Wings | 49.99
2024 | June      | None | 52.98
2024 | March     | Coconut Curry Lentils | 3.29
2024 | March     | Dog Training Whistle | 22.99
2024 | March     | Smartphone Car Mount with Wireless Charging | 3.99
2024 | March     | Smartphone Holder for Car | 199.99
2024 | March     | None | 230.26
2024 | May       | Adjustable Dog Harness | 0.99
2024 | May       | Peach Green Tea | 2.99
2024 | May       | Safety Goggles | 39.99
2024 | May       | Sesame Seeds | 24.99
2024 | May       | None | 68.96
2024 | November  | Hummus Trio Pack | 3.99
2024 | November  | Mixed Berry Smoothie Pack | 10.99
2024 | November  | Two-Tier Fruit Basket | 3.99
2024 | November  | None | 18.97
2024 | October   | A-Line Skirt | 3.49
2024 | October   | Chipotle Black Bean Burger | 3.79
2024 | October   | Slingback Sandals | 3.29
2024 | October   | Wireless Charging Station | 4.99
2024 | October   | Wireless Security System | 14.99
2024 | October   | None | 30.55
2024 | September | Avocados | 2.99
2024 | September | None | 2.99
2025 | None | None | 49.15
2025 | February  | Tailgating Set | 19.99
2025 | February  | None | 19.99
2025 | January   | Portable Solar Charger | 19.99
2025 | January   | Raspberry Limeade | 4.49
2025 | January   | Rechargeable Battery Organizer | 2.19
2025 | January   | Smartphone Car Mount with Wireless Charging | 2.49
2025 | January   | None | 29.16
None | None | None | 2173.62

## Consulta 6

Consulta a realizar: Ventas totales por mes y año, con subtotales anuales usando ROLLUP para los años 2020 al 2024.

In [30]:
conn.rollback()  # Esto limpia el error y permite ejecutar nuevas consultas.


# Aqui escribe el SQL
cur.execute("""SELECT
    d.year_id::integer AS Año,
    d.month_name AS Mes,
    SUM(f.SalesTotalCost) AS Ventas_Totales
FROM FactProductSales f
INNER JOIN DimDate d
    ON f.SalesDateKey = d.DateKey
WHERE d.year_id::integer BETWEEN 2020 AND 2024
GROUP BY ROLLUP (d.year_id, d.month_name)
ORDER BY d.year_id, COALESCE(d.month_name, '');


""")

rows = cur.fetchall()

# Print column names
column_names = [desc[0] for desc in cur.description]
print(" | ".join(column_names))  # Print header

# Print rows
for row in rows:
    print(" | ".join(map(str, row)))

año | mes | ventas_totales
2023 | None | 982.67
2023 | April     | 144.95
2023 | August    | 107.95
2023 | December  | 156.96
2023 | February  | 62.35
2023 | January   | 5.49
2023 | July      | 102.34
2023 | June      | 105.10
2023 | March     | 33.48
2023 | May       | 76.55
2023 | November  | 51.16
2023 | October   | 93.06
2023 | September | 43.28
2024 | None | 1141.80
2024 | April     | 78.25
2024 | August    | 268.45
2024 | December  | 305.98
2024 | February  | 28.58
2024 | January   | 15.07
2024 | July      | 40.76
2024 | June      | 52.98
2024 | March     | 230.26
2024 | May       | 68.96
2024 | November  | 18.97
2024 | October   | 30.55
2024 | September | 2.99
None | None | 2124.47

## 2.2 Cómo funciona CUBE en SQL?

El operador CUBE en SQL es una extensión de GROUP BY que permite generar subtotales y totales para todas las combinaciones posibles de las columnas seleccionadas. A diferencia de ROLLUP, que solo genera niveles jerárquicos de agregación, CUBE calcula todas las combinaciones posibles de agrupaciones, lo que lo hace útil en análisis multidimensionales.

Diferencia clave entre ROLLUP y CUBE

ROLLUP genera subtotales siguiendo una jerarquía (ejemplo: Año → Mes → Producto).

CUBE genera subtotales para todas las combinaciones posibles de los atributos, permitiendo comparaciones más detalladas.

Recursos adicionales:

https://programacion.net/articulo/cube-y-rollup-del-sql_266

In [31]:
%%sql

SELECT
    dd.year_id AS Anio,
    dd.month_name AS Mes,
    dp.ProductName AS Producto,
    SUM(f.SalesTotalCost) AS TotalVentas
FROM FactProductSales f
JOIN DimDate dd
    ON f.SalesDateKey = dd.DateKey
JOIN DimProduct dp
    ON f.ProductID = dp.ProductKey
GROUP BY CUBE (dd.year_id, dd.month_name, dp.ProductName) --aqui esta el suo de CUBE
ORDER BY dd.year_id, COALESCE(dd.month_name, ''), dp.ProductName;

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## Consulta 7

Consulta a realizar: Ventas totales por StoreName y SalesPersonName usando CUBE, para ver subtotales por tienda, por vendedor y total.

In [34]:
import psycopg2

# Esta linea esta encargada de crear la conexion con la BD
conn = psycopg2.connect("postgresql://postgres.ainowoxdjvcbkyzliuzk:yqsMh1VUklIWZ7Bo@aws-1-us-east-2.pooler.supabase.com:5432/postgres")

# crea un cursor para poder ejecutar las consultas SQL
cur = conn.cursor()

# Aqui escribe el SQL
cur.execute("""SELECT
    s.StoreName,
    sp.SalesPersonName,
    SUM(f.SalesTotalCost) AS Ventas_Totales
FROM FactProductSales f
INNER JOIN DimStores s
    ON f.StoreID = s.StoreID
INNER JOIN DimSalesPerson sp
    ON f.SalesPersonID = sp.SalesPersonID
GROUP BY CUBE (s.StoreName, sp.SalesPersonName)
ORDER BY s.StoreName, sp.SalesPersonName;


""")

rows = cur.fetchall()

# Print column names
column_names = [desc[0] for desc in cur.description]
print(" | ".join(column_names))  # Print header

# Print rows
for row in rows:
    print(" | ".join(map(str, row)))

storename | salespersonname | ventas_totales
Budget Bazaar | Andromache Clapson | 8.99
Budget Bazaar | Jacquette Bartolacci | 99.99
Budget Bazaar | Karlen Ellor | 19.99
Budget Bazaar | Massimiliano Pollok | 79.99
Budget Bazaar | Nolie Tumulty | 2.50
Budget Bazaar | None | 211.46
City Center Mart | Andria Cowoppe | 2.29
City Center Mart | Iggie Standering | 32.99
City Center Mart | Jaime Beedie | 12.99
City Center Mart | Magdalen Crawshaw | 89.99
City Center Mart | None | 138.26
Corner Mart | Alard Loveitt | 3.29
Corner Mart | Bank Augie | 14.99
Corner Mart | Molli Nabarro | 2.49
Corner Mart | Othello Tosh | 4.99
Corner Mart | Paige Aveson | 3.29
Corner Mart | None | 29.05
Daily Needs Depot | Catlee Palatini | 29.99
Daily Needs Depot | Dom Berr | 3.99
Daily Needs Depot | Jemie Crisall | 5.99
Daily Needs Depot | Kyle Clendening | 4.29
Daily Needs Depot | Marianne Jagson | 6.99
Daily Needs Depot | Neila Sowman | 34.99
Daily Needs Depot | Onfre Bute | 69.99
Daily Needs Depot | None | 156.23
Economy Outlet | Gussie Hazard | 1.29
Economy Outlet | Sylas Cowherd | 4.29
Economy Outlet | None | 5.58
Elite Emporium | Casie Conen | 22.99
Elite Emporium | Clarence Cuff | 2.99
Elite Emporium | Huberto Jaffra | 0.99
Elite Emporium | Modestia Feare | 5.49
Elite Emporium | Noelyn Beveredge | 4.19
Elite Emporium | Yvon Budik | 2.19
Elite Emporium | None | 38.84
Express Essentials | Alysa Paradise | 19.99
Express Essentials | Dierdre Lock | 29.99
Express Essentials | Renaldo Brogini | 79.99
Express Essentials | Thom Hornung | 3.49
Express Essentials | None | 133.46
Family Market | Cal McGuinness | 4.89
Family Market | Charlie Hancorn | 5.49
Family Market | Concettina Gowlett | 5.49
Family Market | Dimitri Held | 2.99
Family Market | Hagen Hannan | 22.99
Family Market | Leoline Lages | 1.99
Family Market | Levey Dews | 5.59
Family Market | Winthrop Paulazzi | 3.49
Family Market | None | 52.92
Fresh Foods Store | Corliss Adame | 9.99
Fresh Foods Store | Luise Witheford | 10.99
Fresh Foods Store | Reilly Cubin | 3.29
Fresh Foods Store | Rosabel Bansal | 39.99
Fresh Foods Store | Veronike Freyne | 3.79
Fresh Foods Store | None | 68.05
Gourmet Galore | Caril Arnau | 14.99
Gourmet Galore | Delcine MacPharlain | 1.99
Gourmet Galore | Jenny Richten | 39.99
Gourmet Galore | Laural Aberdalgy | 2.69
Gourmet Galore | Petronella Farncombe | 12.99
Gourmet Galore | None | 72.65
Green Grocer | Gilligan Cota | 24.99
Green Grocer | Lek Stables | 299.99
Green Grocer | Meier Sinnatt | 19.99
Green Grocer | Sharity Aysh | 24.99
Green Grocer | None | 369.96
Local Legend Market | Abel Tickner | 79.99
Local Legend Market | Astrix Broyd | 4.99
Local Legend Market | Norean Pelchat | 3.49
Local Legend Market | Sharline Wellan | 4.99
Local Legend Market | Vera Minty | 14.99
Local Legend Market | Vidovik Hertwell | 3.99
Local Legend Market | None | 112.44
MegaMart | Bonnee Bitten | 5.99
MegaMart | Cordell Waggitt | 4.89
MegaMart | Dewitt Muffin | 29.99
MegaMart | Hew Larraway | 39.99
MegaMart | Margit Syncke | 1.99
MegaMart | Wally Dutch | 34.99
MegaMart | None | 117.84
Neighborhood Goods | Burg Willcott | 3.79
Neighborhood Goods | Dion Instock | 19.99
Neighborhood Goods | None | 23.78
Quick Stop Shop | Aurore MacWhan | 2.99
Quick Stop Shop | Benito Methingam | 5.59
Quick Stop Shop | Brianne Huggill | 2.99
Quick Stop Shop | Francesco Lembke | 3.49
Quick Stop Shop | Garrek Winslet | 5.99
Quick Stop Shop | Quincy Focke | 34.99
Quick Stop Shop | None | 56.04
Shop-N-Go | Gaby Cesco | 3.49
Shop-N-Go | Myrtice Bowart | 2.89
Shop-N-Go | None | 6.38
Smart Shopper | Agnola Betteney | 29.99
Smart Shopper | Brad Gisbey | 4.29
Smart Shopper | Dodie Ahlin | 2.49
Smart Shopper | Hort Canter | 4.59
Smart Shopper | Jackelyn Timmens | 3.99
Smart Shopper | Larissa Melby | 5.49
Smart Shopper | Lilia Innocenti | 39.99
Smart Shopper | Vern Margerison | 5.49
Smart Shopper | None | 96.32
Super Saver Store | Gonzalo Leythley | 5.99
Super Saver Store | Lynnea Batrick | 3.99
Super Saver Store | Ruthy Jouning | 99.99
Super Saver Store | Trueman Peaker | 2.49
Super Saver Store | Wilhelmina Smithyman | 4.99
Super Saver Store | None | 117.45
Urban Market | Chery Knipe | 4.49
Urban Market | Dugald Blackden | 199.99
Urban Market | Fanechka Colliss | 29.99
Urban Market | Lari Karet | 18.99
Urban Market | Tiff Gilluley | 24.99
Urban Market | None | 278.45
ValueCity Market | Che Lerer | 49.99
ValueCity Market | Cleon Roblett | 25.00
ValueCity Market | Katheryn Skyppe | 4.49
ValueCity Market | Seumas Dunaway | 3.99
ValueCity Market | Sybilla Dewicke | 4.99
ValueCity Market | None | 88.46
None | Abel Tickner | 79.99
None | Agnola Betteney | 29.99
None | Alard Loveitt | 3.29
None | Alysa Paradise | 19.99
None | Andria Cowoppe | 2.29
None | Andromache Clapson | 8.99
None | Astrix Broyd | 4.99
None | Aurore MacWhan | 2.99
None | Bank Augie | 14.99
None | Benito Methingam | 5.59
None | Bonnee Bitten | 5.99
None | Brad Gisbey | 4.29
None | Brianne Huggill | 2.99
None | Burg Willcott | 3.79
None | Cal McGuinness | 4.89
None | Caril Arnau | 14.99
None | Casie Conen | 22.99
None | Catlee Palatini | 29.99
None | Charlie Hancorn | 5.49
None | Che Lerer | 49.99
None | Chery Knipe | 4.49
None | Clarence Cuff | 2.99
None | Cleon Roblett | 25.00
None | Concettina Gowlett | 5.49
None | Cordell Waggitt | 4.89
None | Corliss Adame | 9.99
None | Delcine MacPharlain | 1.99
None | Dewitt Muffin | 29.99
None | Dierdre Lock | 29.99
None | Dimitri Held | 2.99
None | Dion Instock | 19.99
None | Dodie Ahlin | 2.49
None | Dom Berr | 3.99
None | Dugald Blackden | 199.99
None | Fanechka Colliss | 29.99
None | Francesco Lembke | 3.49
None | Gaby Cesco | 3.49
None | Garrek Winslet | 5.99
None | Gilligan Cota | 24.99
None | Gonzalo Leythley | 5.99
None | Gussie Hazard | 1.29
None | Hagen Hannan | 22.99
None | Hew Larraway | 39.99
None | Hort Canter | 4.59
None | Huberto Jaffra | 0.99
None | Iggie Standering | 32.99
None | Jackelyn Timmens | 3.99
None | Jacquette Bartolacci | 99.99
None | Jaime Beedie | 12.99
None | Jemie Crisall | 5.99
None | Jenny Richten | 39.99
None | Karlen Ellor | 19.99
None | Katheryn Skyppe | 4.49
None | Kyle Clendening | 4.29
None | Lari Karet | 18.99
None | Larissa Melby | 5.49
None | Laural Aberdalgy | 2.69
None | Lek Stables | 299.99
None | Leoline Lages | 1.99
None | Levey Dews | 5.59
None | Lilia Innocenti | 39.99
None | Luise Witheford | 10.99
None | Lynnea Batrick | 3.99
None | Magdalen Crawshaw | 89.99
None | Margit Syncke | 1.99
None | Marianne Jagson | 6.99
None | Massimiliano Pollok | 79.99
None | Meier Sinnatt | 19.99
None | Modestia Feare | 5.49
None | Molli Nabarro | 2.49
None | Myrtice Bowart | 2.89
None | Neila Sowman | 34.99
None | Noelyn Beveredge | 4.19
None | Nolie Tumulty | 2.50
None | Norean Pelchat | 3.49
None | Onfre Bute | 69.99
None | Othello Tosh | 4.99
None | Paige Aveson | 3.29
None | Petronella Farncombe | 12.99
None | Quincy Focke | 34.99
None | Reilly Cubin | 3.29
None | Renaldo Brogini | 79.99
None | Rosabel Bansal | 39.99
None | Ruthy Jouning | 99.99
None | Seumas Dunaway | 3.99
None | Sharity Aysh | 24.99
None | Sharline Wellan | 4.99
None | Sybilla Dewicke | 4.99
None | Sylas Cowherd | 4.29
None | Thom Hornung | 3.49
None | Tiff Gilluley | 24.99
None | Trueman Peaker | 2.49
None | Vera Minty | 14.99
None | Vern Margerison | 5.49
None | Veronike Freyne | 3.79
None | Vidovik Hertwell | 3.99
None | Wally Dutch | 34.99
None | Wilhelmina Smithyman | 4.99
None | Winthrop Paulazzi | 3.49
None | Yvon Budik | 2.19
None | None | 2173.62

## Consulta 8

Total de ventas por día de la semana (usando day_name de DimDate).

In [45]:
conn.rollback()  # Esto limpia el error y permite ejecutar nuevas consultas.

# Aqui escribe el SQL
cur.execute("""SELECT
    d.day_name AS DiaSemana,
    SUM(f.SalesTotalCost) AS Ventas_Totales
FROM FactProductSales f
INNER JOIN DimDate d
    ON f.SalesDateKey = d.DateKey
GROUP BY d.day_name, d.day_num_of_week
ORDER BY d.day_num_of_week;


""")

rows = cur.fetchall()

# Print column names
column_names = [desc[0] for desc in cur.description]
print(" | ".join(column_names))  # Print header

# Print rows
for row in rows:
    print(" | ".join(map(str, row)))

diasemana | ventas_totales
April 22, 2024 | 18.99
August 05, 2024 | 89.99
February 19, 2024 | 1.29
February 20, 2023 | 4.89
January 09, 2023 | 5.49
July 01, 2024 | 5.99
July 03, 2023 | 5.49
July 22, 2024 | 4.29
May 29, 2023 | 3.99
November 18, 2024 | 3.99
October 09, 2023 | 4.59
April 23, 2024 | 2.49
April 25, 2023 | 5.48
August 13, 2024 | 79.99
December 05, 2023 | 99.99
December 19, 2023 | 34.99
January 02, 2024 | 1.99
January 07, 2025 | 4.49
January 23, 2024 | 4.99
July 11, 2023 | 32.99
June 27, 2023 | 5.99
March 14, 2023 | 3.49
March 19, 2024 | 199.99
May 30, 2023 | 6.99
October 15, 2024 | 14.99
April 24, 2024 | 3.79
August 16, 2023 | 4.99
August 30, 2023 | 14.99
December 04, 2024 | 5.99
December 27, 2023 | 8.99
February 05, 2025 | 19.99
January 15, 2025 | 2.19
June 21, 2023 | 4.29
June 28, 2023 | 3.99
March 06, 2024 | 3.99
March 29, 2023 | 29.99
May 15, 2024 | 0.99
May 24, 2023 | 29.99
November 22, 2023 | 39.99
November 27, 2024 | 3.99
October 11, 2023 | 5.49
October 23, 2024 | 3.49
April 06, 2023 | 99.99
April 11, 2024 | 29.99
April 20, 2023 | 34.99
December 07, 2023 | 12.99
February 22, 2024 | 2.29
June 01, 2023 | 19.99
June 08, 2023 | 4.89
May 04, 2023 | 5.59
May 09, 2024 | 2.99
May 25, 2023 | 29.99
November 16, 2023 | 4.19
October 10, 2024 | 3.29
February 24, 2023 | 4.99
January 31, 2025 | 19.99
July 05, 2024 | 5.49
June 16, 2023 | 34.99
June 23, 2023 | 5.49
June 30, 2023 | 19.99
March 15, 2024 | 22.99
March 29, 2024 | 3.29
May 10, 2024 | 39.99
May 31, 2024 | 24.99
November 10, 2023 | 2.69
November 22, 2024 | 10.99
October 04, 2024 | 3.79
September 08, 2023 | 3.29
April 29, 2023 | 4.49
August 10, 2024 | 94.98
August 26, 2023 | 12.99
February 18, 2023 | 2.49
January 18, 2025 | 2.49
January 20, 2024 | 8.09
July 01, 2023 | 24.99
July 15, 2023 | 5.99
July 29, 2023 | 29.99
June 10, 2023 | 1.99
June 22, 2024 | 2.99
November 11, 2023 | 4.29
October 07, 2023 | 79.99
October 19, 2024 | 4.99
April 21, 2024 | 22.99
August 04, 2024 | 3.49
August 20, 2023 | 74.98
December 15, 2024 | 299.99
February 05, 2023 | 9.99
February 11, 2024 | 25.00
February 26, 2023 | 39.99
July 14, 2024 | 24.99
July 16, 2023 | 2.89
June 16, 2024 | 49.99
June 18, 2023 | 3.49
October 29, 2023 | 2.99
September 03, 2023 | 39.99
September 08, 2024 | 2.99

## Consulta 9

Número de transacciones (conteo de TransactionId) por tienda y mes (usando month_name), con subtotales por tienda. (Es necesario el uso de ROLLUP)

In [46]:
conn.rollback()  # Esto limpia el error y permite ejecutar nuevas consultas.

# Aqui escribe el SQL
cur.execute("""SELECT
    s.StoreName,
    d.MONTH_NAME AS Mes,
    COUNT(f.TransactionId) AS Numero_Transacciones
FROM FactProductSales f
INNER JOIN DimStores s
    ON f.StoreID = s.StoreID
INNER JOIN DimDate d
    ON f.SalesDateKey = d.DateKey
GROUP BY ROLLUP (s.StoreName, d.MONTH_NAME)
ORDER BY s.StoreName, MIN(d.MONTH_ID);


""")

rows = cur.fetchall()

# Print column names
column_names = [desc[0] for desc in cur.description]
print(" | ".join(column_names))  # Print header

# Print rows
for row in rows:
    print(" | ".join(map(str, row)))

storename | mes | numero_transacciones
Budget Bazaar | August    | 1
Budget Bazaar | None | 5
Budget Bazaar | December  | 2
Budget Bazaar | February  | 1
Budget Bazaar | January   | 1
City Center Mart | August    | 2
City Center Mart | None | 4
City Center Mart | February  | 1
City Center Mart | July      | 1
Corner Mart | August    | 1
Corner Mart | None | 5
Corner Mart | February  | 1
Corner Mart | January   | 1
Corner Mart | October   | 1
Corner Mart | September | 1
Daily Needs Depot | None | 7
Daily Needs Depot | April     | 1
Daily Needs Depot | August    | 1
Daily Needs Depot | July      | 1
Daily Needs Depot | June      | 1
Daily Needs Depot | May       | 2
Daily Needs Depot | November  | 1
Economy Outlet | None | 2
Economy Outlet | February  | 1
Economy Outlet | November  | 1
Elite Emporium | None | 6
Elite Emporium | January   | 2
Elite Emporium | June      | 1
Elite Emporium | March     | 1
Elite Emporium | May       | 1
Elite Emporium | November  | 1
Express Essentials | April     | 1
Express Essentials | None | 4
Express Essentials | July      | 1
Express Essentials | June      | 1
Express Essentials | October   | 1
Family Market | None | 8
Family Market | April     | 2
Family Market | August    | 1
Family Market | February  | 1
Family Market | July      | 1
Family Market | May       | 1
Family Market | October   | 1
Family Market | September | 1
Fresh Foods Store | April     | 1
Fresh Foods Store | None | 5
Fresh Foods Store | February  | 2
Fresh Foods Store | March     | 1
Fresh Foods Store | November  | 1
Gourmet Galore | None | 5
Gourmet Galore | December  | 1
Gourmet Galore | June      | 1
Gourmet Galore | November  | 1
Gourmet Galore | October   | 1
Gourmet Galore | September | 1
Green Grocer | December  | 1
Green Grocer | None | 4
Green Grocer | July      | 2
Green Grocer | June      | 1
Local Legend Market | None | 6
Local Legend Market | August    | 3
Local Legend Market | June      | 1
Local Legend Market | March     | 1
Local Legend Market | October   | 1
MegaMart | None | 6
MegaMart | April     | 1
MegaMart | December  | 1
MegaMart | January   | 1
MegaMart | July      | 1
MegaMart | June      | 1
MegaMart | November  | 1
Neighborhood Goods | January   | 1
Neighborhood Goods | None | 2
Neighborhood Goods | October   | 1
Quick Stop Shop | None | 6
Quick Stop Shop | December  | 1
Quick Stop Shop | January   | 1
Quick Stop Shop | June      | 1
Quick Stop Shop | March     | 1
Quick Stop Shop | May       | 1
Quick Stop Shop | October   | 1
Shop-N-Go | July      | 1
Shop-N-Go | None | 2
Shop-N-Go | October   | 1
Smart Shopper | January   | 1
Smart Shopper | None | 8
Smart Shopper | July      | 2
Smart Shopper | June      | 1
Smart Shopper | March     | 1
Smart Shopper | May       | 2
Smart Shopper | October   | 1
Super Saver Store | April     | 2
Super Saver Store | None | 5
Super Saver Store | February  | 1
Super Saver Store | June      | 2
Urban Market | None | 5
Urban Market | April     | 1
Urban Market | January   | 1
Urban Market | March     | 1
Urban Market | May       | 2
ValueCity Market | April     | 1
ValueCity Market | None | 5
ValueCity Market | August    | 1
ValueCity Market | February  | 1
ValueCity Market | June      | 1
ValueCity Market | November  | 1
None | None | 100

## Consulta 10

Ventas totales (SalesTotalCost) por City (ciudad de la tienda) y State, con total global usando CUBE.

In [48]:
conn.rollback()  # Esto limpia el error y permite ejecutar nuevas consultas.


# Aqui escribe el SQL
cur.execute("""SELECT
    s.State,
    s.City,
    SUM(f.ProductActualCost) AS Ventas_Totales
FROM FactProductSales f
INNER JOIN DimStores s
    ON f.StoreID = s.StoreID
GROUP BY CUBE (s.State, s.City)
ORDER BY s.State, s.City;


""")

rows = cur.fetchall()

# Print column names
column_names = [desc[0] for desc in cur.description]
print(" | ".join(column_names))  # Print header

# Print rows
for row in rows:
    print(" | ".join(map(str, row)))

state | city | ventas_totales
Alabama | Birmingham | 35.58
Alabama | Mobile | 4.49
Alabama | Tuscaloosa | 4.99
Alabama | None | 45.06
Alaska | Anchorage | 1.99
Alaska | None | 1.99
Arizona | Phoenix | 69.98
Arizona | Tucson | 0.99
Arizona | None | 70.97
California | Bakersfield | 3.49
California | Pasadena | 14.99
California | San Francisco | 3.29
California | San Jose | 14.99
California | Santa Cruz | 2.19
California | Sunnyvale | 3.49
California | Torrance | 2.99
California | None | 45.43
Colorado | Boulder | 29.99
Colorado | Littleton | 2.29
Colorado | None | 32.28
District of Columbia | Washington | 98.63
District of Columbia | None | 98.63
Florida | Bradenton | 24.99
Florida | Daytona Beach | 3.99
Florida | Hollywood | 4.49
Florida | Lake Worth | 5.49
Florida | Miami | 104.58
Florida | Orlando | 2.99
Florida | Tampa | 89.99
Florida | None | 236.52
Georgia | Atlanta | 5.49
Georgia | None | 5.49
Illinois | Chicago | 22.99
Illinois | Springfield | 4.29
Illinois | None | 27.28
Indiana | Evansville | 3.99
Indiana | Indianapolis | 104.98
Indiana | None | 108.97
Iowa | Sioux City | 2.89
Iowa | None | 2.89
Kansas | Kansas City | 4.29
Kansas | None | 4.29
Kentucky | Lexington | 299.99
Kentucky | Louisville | 79.99
Kentucky | None | 379.98
Louisiana | Baton Rouge | 41.17
Louisiana | Lafayette | 3.49
Louisiana | Monroe | 2.99
Louisiana | Shreveport | 72.48
Louisiana | None | 120.13
Maryland | Baltimore | 3.99
Maryland | Silver Spring | 3.29
Maryland | None | 7.28
Massachusetts | New Bedford | 19.99
Massachusetts | None | 19.99
Minnesota | Minneapolis | 1.99
Minnesota | Rochester | 3.29
Minnesota | Saint Cloud | 24.99
Minnesota | None | 30.27
Missouri | Saint Louis | 6.99
Missouri | None | 6.99
Nevada | Las Vegas | 25.00
Nevada | None | 25.00
New Hampshire | Manchester | 2.69
New Hampshire | None | 2.69
New Mexico | Albuquerque | 4.29
New Mexico | None | 4.29
New York | Albany | 64.98
New York | Buffalo | 5.99
New York | Jamaica | 79.99
New York | New York City | 18.27
New York | Syracuse | 5.99
New York | None | 175.22
North Carolina | Charlotte | 18.99
North Carolina | Wilmington | 9.99
North Carolina | None | 28.98
Ohio | Columbus | 72.98
Ohio | Dayton | 19.99
Ohio | Toledo | 4.89
Ohio | None | 97.86
Oklahoma | Oklahoma City | 22.99
Oklahoma | None | 22.99
Pennsylvania | Philadelphia | 199.99
Pennsylvania | York | 5.59
Pennsylvania | None | 205.58
South Carolina | Aiken | 3.99
South Carolina | Anderson | 4.99
South Carolina | Charleston | 5.99
South Carolina | None | 14.97
Tennessee | Nashville | 3.99
Tennessee | None | 3.99
Texas | Abilene | 29.99
Texas | Arlington | 14.99
Texas | Austin | 40.48
Texas | Corpus Christi | 8.99
Texas | Dallas | 69.98
Texas | El Paso | 3.79
Texas | Midland | 2.49
Texas | San Antonio | 5.49
Texas | None | 176.20
Virginia | Manassas | 39.99
Virginia | Richmond | 35.97
Virginia | Roanoke | 85.47
Virginia | None | 161.43
Washington | Seattle | 4.99
Washington | None | 4.99
West Virginia | Charleston | 4.99
West Virginia | None | 4.99
None | Abilene | 29.99
None | Aiken | 3.99
None | Albany | 64.98
None | Albuquerque | 4.29
None | Anchorage | 1.99
None | Anderson | 4.99
None | Arlington | 14.99
None | Atlanta | 5.49
None | Austin | 40.48
None | Bakersfield | 3.49
None | Baltimore | 3.99
None | Baton Rouge | 41.17
None | Birmingham | 35.58
None | Boulder | 29.99
None | Bradenton | 24.99
None | Buffalo | 5.99
None | Charleston | 10.98
None | Charlotte | 18.99
None | Chicago | 22.99
None | Columbus | 72.98
None | Corpus Christi | 8.99
None | Dallas | 69.98
None | Dayton | 19.99
None | Daytona Beach | 3.99
None | El Paso | 3.79
None | Evansville | 3.99
None | Hollywood | 4.49
None | Indianapolis | 104.98
None | Jamaica | 79.99
None | Kansas City | 4.29
None | Lafayette | 3.49
None | Lake Worth | 5.49
None | Las Vegas | 25.00
None | Lexington | 299.99
None | Littleton | 2.29
None | Louisville | 79.99
None | Manassas | 39.99
None | Manchester | 2.69
None | Miami | 104.58
None | Midland | 2.49
None | Minneapolis | 1.99
None | Mobile | 4.49
None | Monroe | 2.99
None | Nashville | 3.99
None | New Bedford | 19.99
None | New York City | 18.27
None | Oklahoma City | 22.99
None | Orlando | 2.99
None | Pasadena | 14.99
None | Philadelphia | 199.99
None | Phoenix | 69.98
None | Richmond | 35.97
None | Roanoke | 85.47
None | Rochester | 3.29
None | Saint Cloud | 24.99
None | Saint Louis | 6.99
None | San Antonio | 5.49
None | San Francisco | 3.29
None | San Jose | 14.99
None | Santa Cruz | 2.19
None | Seattle | 4.99
None | Shreveport | 72.48
None | Silver Spring | 3.29
None | Sioux City | 2.89
None | Springfield | 4.29
None | Sunnyvale | 3.49
None | Syracuse | 5.99
None | Tampa | 89.99
None | Toledo | 4.89
None | Torrance | 2.99
None | Tucson | 0.99
None | Tuscaloosa | 4.99
None | Washington | 98.63
None | Wilmington | 9.99
None | York | 5.59
None | None | 2173.62

*Realizado por : Juan José de la Pava y Mónica María Rojas*

*Maestría en Inteligencia Artificial Aplicada*

*Universidad Icesi*